.App {
  text-align: center;
}
.home-bg{
 background-color: rgb(243, 230, 230);
}
.nav{
  display: flex; justify-content: space-around;
  background-color:rgba(63, 63, 60, 0.925);
  align-items: center;
  min-height: 60px;
  color: white;
  font-weight: bolder;
} 

.for-graph{
  margin: 100px 0 100px 0;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: auto;
}